Stopwatch {
	background: $boost;
	height: 5;
	margin: 1;
	min-width: 50;
	padding: 1;
}

Button {
	width: 16;
}

TimeDisplay {
	text-align: center;
	color: $foreground-muted;
	height: 3;
}

#b-start {
	dock: left;
}

#b-stop {
	dock: left;
	display: none;
}

#b-reset {
	dock: right;
}

.started {
	background: $success-muted;
	color: $text;
}

.started TimeDisplay {
	color: $foreground;
}

.started #b-start {
	display: none;
}

.started #b-stop {
	display: block;
}

.started > #b-reset {
	visibility: hidden;
}
