Screen {
	layout: grid;
	grid-size: 2;
	grid-gutter: 2;
	padding: 2;
}

#question {
	width: 100%;
	height: 100%;
	column-span: 2;
	text-style: bold;
	content-align: center bottom;
}

Button {
	width: 100%;
}
